<div class="container-fluid">
<h4> List of Ads </h4>

<a href="/ads/new"> <button class="btn btn-primary">NEW</button></a> <br> <br>

<table class="table table-bordered">
<tr>
	<th> Name </th>
	<th> Description </th>
	<th> Price </th>
	<th> Seller Id </th>
	<th> Email </th>
	<th> Image Url </th>
	<th> </th>
	<th> </th>
	<th> </th>
</tr>
<% @ads.each do |ad| %>
<tr>
	<td> <%= ad.name %> </td>
	<td> <%= ad.description %> </td>
	<td> <%= ad.price %> </td>
	<td> <%= ad.seller_id %> </td>
	<td> <%= ad.email %> </td>
	<td> <img src="<%= ad.img_url %>" width="300" height="300"> </td>
	<td> <a href="ads/<%= ad.id %>"> <button class="btn btn-success">SHOW</button></a> </td>
	<td> <a href="/ads/edit/<%= ad.id %>"> <button class="btn btn-warning">EDIT</button></a> </td>
	<td> <a href="/ads/delete/<%= ad.id %>"> <button class="btn btn-danger">DELETE</button></a> </td>
</tr>
<% end %>
</table>

</div>

